<!DOCTYPE html>

<html>

<head runat="server">
    <title></title>
    <link href="~/Script/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Script/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Script/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Script/css/customstylesheet.css" rel="stylesheet" />
    <script src="~/Script/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Script/bootstrap/js/popper.min.js"></script>
    <script src="~/Script/bootstrap/js/bootstrap.min.js"></script>


    
    <link rel="preconnect" href="~/https://fonts.gstatic.com">
    <link href="~/https://fonts.googleapis.com/css2?family=Allura&display=swap"
          rel="stylesheet">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";


        .secondDiv {
            background-color: white;
            height: 100px;
        }

        .s2 {
            background-color: white;
            padding-top: 1px;
            padding-left: 20px;
            padding-right: 22px;
        }

        .s3 {
            padding-top: 10px;
            background-color: white;
            height: 100px;
            color: black;
            text-align: center;
            font-size: 40px;
            font-family: 'Allura', cursive;
        }

        .img2 {
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 40px;
        }

        .options1 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 369px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

        .options2 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 445px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }


        .options3 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 710px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

        .options4 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            height: 45px;
            left: 885px;
            width: 10%;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

        .options5 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 1060px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

        .options6 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 1140px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

        .options7 {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 1210px;
            width: 10%;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }

            .options1:hover,
            .options2:hover,
            .options3:hover,
            .options4:hover,
            .options5:hover,
            .options6:hover,
            .options7:hover {
                background-color: black;
                color: white;
                box-shadow: 0px 2px 4px 0px #757575;
                cursor: pointer;
            }


        .secondSearch {
            position: absolute;
            top: 110px;
            right: 350px;
            width: 50%;
            border-radius: 20px;
            text-align: center;
            height: 50px;
        }

            .secondSearch::-webkit-input-placeholder {
                font-size: 15px;
                font-family: FontAwesome;
                font-weight: normal;
                overflow: visible;
                vertical-align: top;
                display: inline-block !important;
                padding-left: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                color: black;
            }

            .secondSearch::-moz-placeholder {
                font-size: 15px;
                font-family: FontAwesome;
                font-weight: normal;
                font-size: 10px;
                overflow: visible;
                vertical-align: top;
                display: inline-block !important;
                padding-left: 5px;
                padding-top: 2px;
                color: black;
            }

            .secondSearch:-ms-input-placeholder {
                font-weight: normal;
                font-family: FontAwesome;
                font-weight: normal;
                overflow: visible;
                vertical-align: top;
                display: inline-block !important;
                padding-left: 5px;
                padding-top: 2px;
                color: black;
            }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            .prev:hover,
            .next:hover {
                background-color: rgba(0,0,0,0.8);
            }




        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @@-webkit-keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @@keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @@media only screen and (max-width: 300px) {

            .prev,
            .next,
            .text {
                font-size: 11px
            }
        }

        .pageIcon {
            top: 2px;
            position: relative;
            left: 20px;
        }

        .imageBell {
            position: absolute;
            top: 25px;
            right: 55px;
        }

        .imageUser {
            position: absolute;
            top: 25px;
            right: 16px;
        }

        .imageContact {
            position: absolute;
            top: 27px;
            right: 96px;
        }

        .dropbtn {
            background-color: transparent;
            border-radius: 10px;
            border: 3px solid black;
            position: absolute;
            left: 333px; /*325*/
            top: -23px;
            width: 150px;
            height: 45px;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
        }


        .dropdown-content {
            display: none;
            min-width: 160px;
            z-index: 1;
            background-color: rgba(255,255,255,0.7);
            border-radius: 5px;
            position: absolute;
            width: 100%;
            box-shadow: 0px 2px 4px 0px #757575;
            cursor: pointer;
            left: 325px;
            top: 20px;
            height: 400px;
            overflow: auto;
            overflow-y: scroll;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                width: 100%;
            }

                .dropdown-content a:hover {
                    background-color: black;
                    color: white;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: black;
            color: white
        }

        #footer1,
        #footer0 {
            background-color: lightgray;
            color: black;
        }

        #footer2 {
            background-color: darkgray;
            color: black;
        }

        .footerlinks {
            color: black;
            text-decoration-line: none;
            cursor: pointer;
        }

            .footerlinks:hover {
                color: black;
                text-decoration-line: underline;
                cursor: pointer;
            }

        th,
        td {
            padding-right: 50px;
            padding-left: 67px;
        }

        .link {
            color: black;
            text-decoration: none;
        }

            .link:hover {
                color: black;
                text-decoration-line: underline;
                cursor: pointer;
            }

        .my-class:link, .my-class:visited {
            color: black;
            text-decoration-line: none;
        }

        .my-class:hover {
            color: white;
        }

        .secndClass:link, .secndClass:visited {
            color: black;
            text-decoration-line: none;
        }

        .secndClass:hover {
            color: black;
            text-decoration-line: underline;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server">

        <div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="~/#">
                    <img class="pageIcon" src="~/Image/Layout/28894347.jpg" height="60" width="170" />
                </a>
                <button type="submit" value="Submit" class="options1">
                <i class="fa fa-home">
                    @Html.ActionLink("Home", "index", "Home", new { id = "OT", style = "color: black; text-decoration:none" }, new { @class = "my-class" })
                </i>
                </button>
                <div class="dropdown">
                    <button type="submit" value="Submit" class="dropbtn"><i class="fa fa-globe">Destination</i></button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Andhra Pradesh", "AndhraPradesh", "Home")
                        @Html.ActionLink("Arunachal Pradesh", "ArunachalPradesh", "Home")
                        @Html.ActionLink("Assam", "Assam", "Home")
                        @Html.ActionLink("Bihar", "Bihar", "Home")
                        @Html.ActionLink("Chhattisgarh", "Chhattisgarh", "Home")
                        @Html.ActionLink("Goa", "Goa", "Home")
                        @Html.ActionLink("Gujarat", "Gujarat", "Home")
                        @Html.ActionLink("Haryana", "Haryana", "Home")
                        @Html.ActionLink("Himachal Pradesh", "HimachalPradesh", "Home")
                        @Html.ActionLink("Jharkhand", "Jharkhand", "Home")
                        @Html.ActionLink("Karnataka", "Karnataka", "Home")
                        @Html.ActionLink("Kerala", "Kerala", "Home")
                        @Html.ActionLink("Madhya Pradesh", "MadhyaPradesh", "Home")
                        @Html.ActionLink("Maharashtra", "Maharashtra", "Home")
                        @Html.ActionLink("Manipur", "Manipur", "Home")
                        @Html.ActionLink("Meghalaya", "Meghalaya", "Home")
                        @Html.ActionLink("Mizoram", "Mizoram", "Home")
                        @Html.ActionLink("Nagaland", "Nagaland", "Home")
                        @Html.ActionLink("Odisha", "Odisha", "Home")
                        @Html.ActionLink("Punjab", "Punjab", "Home")
                        @Html.ActionLink("Rajasthan", "Rajasthan", "Home")
                        @Html.ActionLink("Sikkim", "Sikkim", "Home")
                        @Html.ActionLink("Tamil Nadu", "TamilNadu", "Home")
                        @Html.ActionLink("Telangana", "Telangana", "Home")
                        @Html.ActionLink("Tripura", "Tripura", "Home")
                        @Html.ActionLink("Uttar Pradesh", "UttarPradesh", "Home")
                        @Html.ActionLink("Uttarakhand", "Uttarakhand", "Home")
                        @Html.ActionLink("West Bengal", "WestBengal", "Home")
                        @Html.ActionLink("Andaman and Nicobar Islands", "AndamanAndNicobarIslands", "Home")
                    </div>
                </div>

                <button type="submit" value="Submit" class="options3">
                    <i class="fas fa-fire-alt">
                    @Html.ActionLink("Experiences", "Experiences", "Home", new { id = "OT", style = "color: black; text-decoration:none" },new { @class = "my-class" })
                    </i>
                </button>
                <button type="submit" value="Submit" class="options4">
                <i class="fas fa-image">
                    @Html.ActionLink("Gallery", "Gallery", "Home", new { id = "OT", style = "color: black; text-decoration:none" }, new { @class = "my-class" })
                </i>
                </button>
                <button type="submit" value="Submit" class="options5">
                    <i class="fa fa-phone-alt">
                        @Html.ActionLink("Contact Us", "Contact", "Home", new { id = "OT", style = "color: black; text-decoration:none" }, new { @class = "my-class" })
                    </i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="imageUser" src="~/Image/Layout/user.png" height="50" width="50" />
                            </a>
                        </li>
                            
                            <form class="d-flex">
                            </form>
</div>
        </div>
        <div class="s1">
            <div class="secondDiv">
                <input type="search" class="secondSearch"
                       placeholder="&#61442; Where are you going?" />
            </div>
        </div>
        <div class="s2"><img class="img2" src="~/Image/Layout/taj.png" width="1467" height="440" /></div>
        <div class="s2"><img class="img2" src="~/Image/Layout/1.png" width="1467" height="440" /></div>
        <div class="s2"><img class="img2" src="~/Image/Layout/2.png" width="1467" height="440" /></div>
        <div class="s2"><img class="img2" src="~/Image/Layout/3.png" width="1467" height="440" /></div>
        <div class="s2"><img class="img2" src="~/Image/Layout/4.png" width="1467" height="440" /></div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>



        <div class="s3">
            <h1>Say YES to new Adventures</h1>
        </div>












        <!--Main content pplaceholder-->
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <!--Main content pplaceholder-->




        <footer>

            <div id="footer0" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                        <table>
                            <tr>
                                <th><br />ABOUT</th>
                                <th><br />COMMUNITY</th>
                                <th><br />HOST</th>
                                <th><br />SUPPORT</th>
                                <th><br />CONDITIONS & RULES</th>

                            </tr>
                            <tr>
                                <td><br /><a class="link">How Wanderlust works</a></td>
                                <td><br /><a class="link">Diversity & Belonging</a></td>
                                <td><br /><a class="link">Host your home</a></td>
                                <td><br /><a class="link">Our COVID-19 Response</a></td>
                                <td><br /><a class="link"> @Html.ActionLink("Terms & Conditions", "TermsConditions", "Home", new { id = "OT", style = "color: black; text-decoration:none" }, new { @class = "secndClass" })</a></td>

                            </tr>
                            <tr>
                                <td><br /><a class="link">Newsroom</a></td>
                                <td><br /><a class="link">Accessibility</a></td>
                                <td><br /><a class="link">Host an Online Experience</a></td>
                                <td><br /><a class="link">Help Centre</a></td>
                                <td><br /><a class="link"> @Html.ActionLink("Privacy Policy","PrivacyPolicy","Home", new { id = "OT", style = "color: black; text-decoration:none"},new { @class = "secndClass" })</a></td>
                            </tr>
                            <tr>
                                <td><br /><a class="link">Investors</a></td>
                                <td><br /><a class="link">Frontline Stays</a></td>
                                <td><br /><a class="link">Responsible hosting</a></td>
                                <td><br /><a class="link">Cancellation options</a></td>
                                <td><br /><a class="link">@Html.ActionLink("Cookie Consent", "CookieConsent", "Home", new { id = "OT", style = "color: black; text-decoration:none" }, new { @class = "secndClass" })</a></td>
                            </tr>

                            <tr>
                                <td>
                                    <br /><a class="link">Wanderlust for Work</a>
                                </td>
                                <td><br /><a class="link">Guest Referrals</a></td>
                                <td>
                                    <br /><a class="link">Community Centre</a>
                                </td>
                                <td><br /><a class="link">Neighbourhood Support</a></td>
                                <td><br /><a class="link">Blog</a></td>

                            </tr>

                            <tr>
                                <td><br /><a class="link">Founders' Letter</a></td>
                                <td>
                                    <br /><a class="link">Wanderlust.org</a>
                                </td>
                                <td><br /><a class="link">Resource Centre</a></td>
                                <td><br /><a class="link">Trust & Safety </a></td>
                                <td><br /><a class="link">FAQ</a></td>

                            </tr>







                        </table>

                    </div>
                </div>
            </div>

            <div id="footer1" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <p>
                            <hr />
                            <asp:LinkButton class="footerlinks" ID="LinkButton5" runat="server">
                                <img src="~/Image/Layout/circle-cropped%20(1).png" height="30" width="30" />
                            </asp:LinkButton>
                            &nbsp;
                            <asp:LinkButton class="footerlinks" ID="LinkButton6" runat="server">
                                <img src="~/Image/Layout/circle-cropped%20(2).png" height="30" width="30" />
                            </asp:LinkButton>
                            &nbsp;

                            <asp:LinkButton class="footerlinks" ID="LinkButton7" runat="server">
                                <img src="~/Image/Layout/768px-Instagram_icon.png" height="30" width="30" />
                            </asp:LinkButton>
                            &nbsp;

                            <asp:LinkButton class="footerlinks" ID="LinkButton8" runat="server">
                                <img src="~/Image/Layout/youtube.png" height="30" width="35" />
                            </asp:LinkButton>
                            <br /><br />

                            <pre>Call Us On <asp:LinkButton class="footerlinks" ID="LinkButton10" runat="server"><img src="~/Image/Layout/circle-cropped%20(3).png" height="20" width="20" /></asp:LinkButton> <asp:LinkButton class="footerlinks" ID="LinkButton11" runat="server">+91-900-123-4567</asp:LinkButton></pre>



                        </p>

                    </div>

                </div>

            </div>

            <div id="footer2" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                        <p style="color:black">
                            &copy Copyright 2021. All right reserved. <a class="footerlinks" href="#"
                                                                         target="_blank">Wanderlust</a>
                        </p>
                    </div>
                </div>

            </div>

        </footer>
    </form>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("s2");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex - 1].style.display = "block";
        }
    </script>
</body>

</html>
